@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  /* I'll give you this one for free lol */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 580px;
  /* height: fit-content */
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* align-items: center; */
  padding: 5px;

}

.icon {
  color: royalblue;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background: lavender;
  width: 42px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  margin: 10px;
  /* padding: 5px; */
  padding: 0 10px 0 10px;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

/* we added this so it can be different from other blocks, but it does not work */
/* the problem was solved, solution is that we misspelled one word which caused 1 hour of work!!!   */
.midllebrows {
  display: flex;
  justify-content:baseline;
  /* align-items: center; */
  flex-direction: column;
}
.text {
  margin-left: 10px;

}

 .header {
  font-weight: 700;
  margin: 10px;
 }

.buttons{
  display: flex;}

button {
  padding: 8px 16px;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  /* background-color: aqua; */
  align-items: flex-start;
  /* flex-direction: row */
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  /* display: flex; */
}

button.cancel {
  background: white;
  border: 1px solid #ddd;
  color: royalblue;
  display: flex;}
.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */
  margin: 10px;
  padding: 0px 3px 0px 3px;
}
